  <% fullsizeimage = "#{request.protocol}#{request.host_with_port}#{@photo.file}" %>
<%= link_to image_tag(@photo.file.medium, class: "img-polaroid", alt: "@photo.file"), fullsizeimage %>


<p>Photo page:</p>
<textarea rows="1" class="input-xlarge" onclick="this.select();"><%= "#{request.protocol}#{request.host_with_port}#{"/"}#{@photo.id}" %></textarea>

<p>Direct image link:</p>
<textarea rows="2" class="input-xlarge" onclick="this.select();"><%= "#{request.protocol}#{request.host_with_port}#{@photo.file}" %></textarea>


<p><span>File: <%= @photo.file.name %></span><br>
<% @date = @photo.created_at %>
Uploaded: <%= @date.strftime("%B #{@date.day.ordinalize}, %Y") %></p>



